body{
    background-color:beige;
    margin:0 auto;
    padding:40px;
}

img{
    width:100%;
    display:block;
    padding:15px;
    border:1px solid #ddd;
}

p{
    text-align:center;
    line-height: 1.5;
    font-size:14px;
}

h1{
    text-align:center;
    text-transform: capitalize;
    font-size:18px;
    line-height: 1.5;
}

footer{
    color:black;
    font-weight: bold;
    font-size:12px;
    text-decoration:none;
    text-align:center;
}